#para1{
    color: rgb(115, 0, 255);
    text-align: center;
    background-color: rgb(255, 225, 0)
}
.box1{
    width: 300px;
    height: 90px;
    background-color: rgb(102, 0, 255);
    border: 5px solid rgb(0, 255, 217);
    margin: auto;
}
#para2{
    width: 300px;
    height: 90px;
    background-color: rgb(76, 32, 138);
    border: 5px solid rgb(136, 255, 0);
    margin: auto;
}
.navigation {
    background-color: #65fff5;
    display: inline;
    padding: 10px;
}