#para1{
    color: rgb(115, 0, 255);
    text-align: center;
    background-color: rgb(255, 225, 0)
}
.box1{
    width: 300px;
    height: 90px;
    background-color: rgb(255, 72, 0);
    border: 5px solid rgb(255, 0, 128);
    margin: auto;
}